*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;

}

.menu {
    position: fixed;
    background-color: #121212;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.808);
    z-index: 100;
}

.menu .logo{
    position: relative;
    font-size: 3.5em;
    padding: 0 80px;
    letter-spacing: 0.23em;
    font-family: 'Neonderthaw';
    text-transform: uppercase;
    color: #0e3742;
    height: 100%;
    text-align: center;
    align-items: center;
    /*-webkit-box-reflect: below -10% linear-gradient(transparent,#0004);*/
    outline:none;
    animation: neon 8s linear infinite;
}

.nav__lu{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.nav__li{
    border-radius: 3px;
    margin: 0 5px;
}
.nav__li a{
    padding: 7px 13px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    display: block;
    text-transform: uppercase;
}
.nav__lu li:hover ,li.active {
    background-color: #252525;
    transition: all .4s;
}


@keyframes neon{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #1f87ff;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 1px #1f87ff,
        0 0 2px #1f87ff,
        0 0 5px #1f87ff,
        0 0 7px #1f87ff,
        0 0 9px #1f87ff,
        0 0 11px #1f87ff,
        0 0 12px #1f87ff,
        0 0 14px #1f87ff,
        0 0 15px #1f87ff,
        0 0 25px #1f87ff,
        0 0 30px #1f87ff,
        0 0 45px #1f87ff;
        
    }
}



/*boton menu- reponsive*/
#nerd_menu{
    display: none;
}
.lbl_menu{
    width: 50px;
    height: 50px;
    position: relative;
    top: 1em;
    margin-right: 30px;
    cursor: pointer;
    z-index: 10500;
    display: none;
}
.lbl_menu #spn1,#spn2,#spn3{

    position: fixed;
    content: "";
    background-color: #fff;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    margin-top: 25px;
    transition: all 400ms ease;
}
#spn1{
    top: 0;
}
#spn2{
    top: 13px;
}
#spn3{
    top: 26px;
}
.contenedor{
    position: relative;
    height: 32px;
    width: 50px;
    bottom: 8px;
}
#nerd_menu:checked ~ .lbl_menu #spn1{
	transform:rotate(140deg);
	top: 13px;
}
#nerd_menu:checked ~ .lbl_menu #spn3{
	transform:rotate(-140deg);
	top: 13px;
}
#nerd_menu:checked ~ .lbl_menu #spn2{
	opacity: 0;
}
#nerd_menu:checked ~ .nav__lu{
    transform: translateX(0%);
}

ul.show{
    top:65px;
}
@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding: 35px;
    }
    .nav__lu li a {
        font-size: 16px;
    }

}
@media screen and (max-width: 858px){
    
    
    .menu{
        height: 75px;
        width: 100%;
    }
    .lbl_menu{
        display: inline-flex;
    }
    
    .nav__lu{
        position:fixed;
        top: 80px;
        width: 100%;
        height: calc(100vh - 65px);
        background: #252525;
        text-align: center;
        transition: all .6s;
        flex-direction: column;
        transform: translateX(100%);
    }
    .nav__lu li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .nav__lu li:hover{
        background: none;
    }
    .nav__lu li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    
}

@media screen and (max-width: 858px) and (orientation:londscape){
    .nav__lu li{
        margin: 5px 0 0 0;
    }
    .nav__lu{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
#particles-js{
    height: 100vh;
    width: 100%;
    
}

.s2{
    height: 85vh;
    background-color: #121212;
    width: 100%;
}


.principalPanel{  
    position: relative;
    bottom: calc(100vh - 75px); 
    margin: 0 auto;
    width: 100%;
    max-width: 62.5em;
    min-width: 20em;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
    -ms-flex-wrap:wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-box-align:inherit;
    -ms-flex-align: inherit;
    z-index: 50;
}

.welcome{
    display: grid;
    text-align: left;
    background-color:#121212;
    width: 45%;
    margin: 0 auto;
    padding: 0.9em;
    border-radius: 15px;
    left: 1em;
    animation: boxneon 10s linear infinite;
}
.welcome h1{
    color: #fff;
}
.welcome strong{
    color: #1f87ff;
}
@keyframes boxneon{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #fff;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        box-shadow: 0 0 1px rgb(255, 31, 161),
        0 0 2px #ff1fa2,
        0 0 5px #ff1fa2,
        0 0 7px #ff1fa2,
        0 0 9px #ff1fa2,
        0 0 11px #ff1fa2,
        0 0 12px #ff1fa2,
        0 0 14px #ff1fa2,
        0 0 15px #ff1fa2,
        0 0 25px #ff1fa2,
        0 0 30px #ff1fa2,
        0 0 45px #ff1fa2;
        
    }
}

.hero {
    background-color: transparent;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.iconsContainer{
    display: grid;
    width: 100%;
    display: -ms-grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.iconsContainer p {
    font-size: 0.7em;
    padding: 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.webTech{
    width: 100%;
    margin-left: 0 auto;
}
.webTech p {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.25em;
}
